<div class="container-fluid">
  <div class="container">
    <p class="fs-3 search-text1 text-center">Cadastrar usuário corporativo</p>
    <p class="logo-corp text-center"><i class="fas fa-address-card"></i></p>
    <p class="description-txt text-center">
      Insira os valores nos campos com a informação correta
    </p>
  </div>
</div>

<div class="container form-container">
  <form class="row g-3">
    <div class="col-md-12">
      <label for="inputBussinesName" class="form-label">Nome da empresa</label>
      <input type="text" class="form-control" id="inputBussinesName" placeholder="Empresa..." />
    </div>
    <div class="col-md-12">
      <label for="inputCnpj" class="form-label">CNPJ</label>
      <input type="text" class="form-control" id="inputCnpj" min="1" max="18" placeholder="00.000.000/0000-00'" />
    </div>
    <div class="col-md-12">
      <label for="inputName" class="form-label">Nome de login</label>
      <input type="text" class="form-control" id="inputName" placeholder="login..." />
    </div>
    <div class="col-md-12">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="empresa@email.com" />
    </div>
    <div class="col-md-12">
      <label for="inputEmaiConfirm" class="form-label">Confirma email</label>
      <input type="email" class="form-control" id="inputEmaiConfirm" placeholder="empresa@email.com" />
    </div>
    <div class="col-md-12">
      <label for="inputPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Até 12 caracteres" min="1" max="12" />
    </div>
    <div class="col-12"></div>
  </form>
  <div class="container-fluid text-center">
    <button type="submit" class="btn btn-primary myButton">Limpar</button>
    <button type="submit" class="btn btn-primary myButton">Cadastrar</button>
    <button [routerLink]="['/corporate-user']" type="submit" class="btn btn-primary myButton">Voltar</button>
  </div>
</div>
