<div class="container-fluid container-navbar">
  <ul class="nav justify-content-center navbar">
    <li class="nav-item">
      <button [routerLink]="['/search']" type="button" class="btn btn-link btnLink">Buscar</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['/login-user']" type="button" class="btn btn-link btnLink">Usuário</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['/configuration']" type="button" class="btn btn-link btnLink">Configuração</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['/about']" type="button" class="btn btn-link btnLink">Sobre</button>
    </li>
  </ul>
</div>
