<div class="container">
  <p class="fs-3 search-text1 text-center">Buscar estabelecimento</p>
  <p class="logo-corp text-center"><i class="far fa-eye"></i></p>
  <p class="description-txt text-center">
    Insira os valores nos campos para fazer uma busca
  </p>
</div>

<div class="d-flex justify-content-center table-itens" *ngFor="let item of list">

  <div class="card">
    <div class="col-md-6 col-center">
      <img
        src="{{ item.imgurl }}"
        class="card-img-top"
        alt="{{ item.name }}"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Bairro: {{ item.district }}</li>
      <li class="list-group-item">Rua: {{ item.address }}</li>
      <li class="list-group-item">Número: {{ item.number }}</li>
      <li class="list-group-item">CEP: {{ item.cep }}</li>
      <li class="list-group-item">Cidade: {{ item.city }}</li>
      <li class="list-group-item">Estado: {{ item.state }}</li>
      <li class="list-group-item">Data: {{ item.datainsert }}</li>
    </ul>
    <div class="card-body">
      <h5 class="card-title">Contato</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Telefone: {{ item.tel}}</li>
          <li class="list-group-item">Celular: {{ item.cel }}</li>
          <li class="list-group-item">Email: {{ item.email }}</li>
          <li class="list-group-item">Site: {{ item.site }}</li>
        </ul>
    </div>
  </div>
</div>
