.fa-hammer {
  font-size: 4rem;
  color: #2fbac2;
}

.about-text1 {
  margin-top: 3%;
}

.Title {
  padding-top: 5%;
  padding-bottom: 2%;
}

.final{
  padding-bottom: 10%;
}

.myButton {
  background-color: #2fbac2;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #f3f7f8;
  padding: 12px 59px;
  text-decoration: none;
  border: none;
  margin-left: 0.5em;
  margin-top: 0.2em;
}

.myButton:hover {
  color: black;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.fa-globe-europe, .fa-palette {
  font-size: 2rem;
  color: #2fbac2;
}

.container-btn {
  padding-bottom: 5%;
}
