<div class="container-fluid">
  <div class="container">
    <p class="fs-3 search-text1 text-center">Usuário corporativo</p>
    <p class="description-txt text-center">
      Insira corretamente as informações abaixo para efetuar login
    </p>
  </div>
</div>
<div class="container">
  <form>
    <div class="mb-3 text-center">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control text-center"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 text-center">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input
        type="password"
        class="form-control text-center"
        id="exampleInputPassword1"
      />
    </div>
  </form>
  <div class="container-fluid text-center">
    <button type="submit" class="btn btn-primary myButton">Entrar</button>
    <button [routerLink]="['/corporate-user-register']" type="button" class="btn btn-primary myButton">Cadastrar</button>
    <button [routerLink]="['/user']" type="button" class="btn btn-primary myButton">Voltar</button>
  </div>
</div>
