<div class="container">
  <p class="fs-3 about-text1 text-center">Sobre</p>
  <p class="logo-corp text-center"><i class="fas fa-book-open"></i></p>
  <p class="description-txt text-center">
    Conheça nossa missão, visão e valores
  </p>
  <div class="container text-center">
    <div class="row">
      <h1 class="Title">Missão</h1>
      <p class="bodyM">
        Nossa proposta de valor é baseado em cima de dois alicerces principais, o primeiro visa oferecer ferramentas para usuários comuns que no seu dia-dia precisem entrar em contato ou mesmo buscar estabelecimentos sem a necessidade de se locomover, trazendo diversos beneficios sociais quanto ambientais, no conforto do seu lá e em qualquer momento, podendo fazer suas pesquisas sem a preocupação de gastos com combustivel e horas em transitos congestionados prejudicando o planeta. O segundo é trazer uma forma inovadora de marketing para as pequenas, médias ou grandes empresas que irão poder oferecer seus produtos online em nossa plataforma 100% digital, sem a necessidade de gastos adicionais como planfletagem, aluguel de veiculos e outros meios de comunicação com seus clientes.
      </p>
    </div>
    <div class="row">
      <h1 class="Title">Visão</h1>
      <p class="bodyM">
        Nosso futuro está diretamente entrelaçado com os dois principais grupo da sociedade pessoas e empresas, sendo assim olhando para novos horizontes almejamos ser a maior plataforma de buscas e cadastramento de estabelecimentos no Brasil. Oferecendo oportunidade até para aquele pequeno estabelecimento da esquina crescer cada vez com a nossa ajuda e agilizando as consultas dos nossos usuários com rapidez e segurança.
      </p>
    </div>
    <div class="row final">
      <h1 class="Title">Valores</h1>
      <p class="body">
        Inovação sempre por meio da criatividade com software robusto e ágil favorecendo o meio-ambiente.
      </p>
    </div>
    <h1>sasd</h1>
  </div>
</div>
