<div class="container">
  <p class="fs-3 search-text1 text-center">Buscar estabelecimento</p>
  <p class="logo-corp text-center"><i class="far fa-eye"></i></p>
  <p class="description-txt text-center">
    Insira os valores nos campos para fazer uma busca
  </p>
</div>

<div class="d-flex justify-content-center table-itens" *ngFor="let item of lista">

  <div class="card">
    <div class="col-md-6 col-center">
      <img
        src="{{ item.img_url_est }}"
        class="card-img-top"
        alt="{{ item.name_est }}"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.name_est }}</h5>
      <p class="card-text">{{ item.description_est }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Bairro: {{ item.district_est }}</li>
      <li class="list-group-item">Rua: {{ item.address_est }}</li>
      <li class="list-group-item">Número: {{ item.number_est }}</li>
      <li class="list-group-item">CEP: {{ item.cep_est }}</li>
      <li class="list-group-item">Cidade: {{ item.city_est }}</li>
      <li class="list-group-item">Estado: {{ item.state_est }}</li>
    </ul>
    <div class="card-body">
      <h5 class="card-title">Contato</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Telefone: {{ item.tel_est}}</li>
          <li class="list-group-item">Celular: {{ item.cel_est }}</li>
          <li class="list-group-item">Email: {{ item.email_est }}</li>
          <li class="list-group-item">Site: {{ item.site_est }}</li>
        </ul>
    </div>
  </div>
</div>
