<div class="container">
  <div class="container">
    <p class="fs-3 search-text1 text-center">Tipo de Usuário</p>
    <p class="description-txt text-center">
      Escolha o tipo de usuário que deseja criar ou acessar
    </p>
  </div>
</div>
<div class="container text-center col-color">
  <div class="row">
    <div class="col">
      <p class="txt-user text-center">Perfil voltado para buscas</p>
      <i class="fas fa-user person-logo"></i>
      <button type="button" class="btn btn-info">Comum</button>
    </div>
    <div class="col">
      <p class="txt-user text-center">Perfil voltado para empresas</p>
      <i class="fas fa-user-tie person-logo"></i>
      <button type="button" class="btn btn-info">Corporativo</button>
    </div>
  </div>
</div>
